In [246]:
# -*- coding: utf-8 -*-

In [247]:
import sys
reload(sys)
sys.setdefaultencoding('utf-8')

In [248]:
import pandas as pd

In [249]:
import json

In [250]:
import numpy as np

In [251]:
def load_json(filename):
    with open(filename, 'r') as f:
        return json.load(f)

if __name__ == "__main__":
    a = load_json('/Users/james/Downloads/Areport-af756a30053f420ab65b73e46cd21648.json')
    b = load_json('/Users/james/Downloads/Breport-af756a30053f420ab65b73e46cd21648.json')

In [252]:
for i in a.keys():
    for j in a[i].keys():
        for k in a[i][j].keys():
            print len(a[i][j][k])

In [253]:
df = pd.DataFrame(data=[],index=[],columns=[])
for n in range(len(a[i][j][k])):
    m = pd.DataFrame.from_dict({
                           (l): a[i][j][k][n][l]
                           for i in a.keys() 
                           for j in a[i].keys()
                           for k in a[i][j].keys()
                           for l in a[i][j][k][n].keys()},
                       orient='index')
    df =df.append(m)

In [254]:
dff = pd.DataFrame(data=[],index=[],columns=[])
for n in range(26083):
    m = pd.DataFrame.from_dict({
                           (l): b[i][j][k][n][l]
                           for i in b.keys() 
                           for j in b[i].keys()
                           for k in b[i][j].keys()
                           for l in b[i][j][k][n].keys()},
                       orient='index')
    dff =dff.append(m)

In [274]:

df = df.fillna(0)
dff = dff.fillna(0)
ne = (df != dff)
location = np.where(ne.loc[:,0:1]==True)[0]



location1 = location - 2
location2= location - 1
location3= location
location4= location + 1
test = np.concatenate((location1, location2,location3,location4), axis=0)

In [275]:
test = np.sort(test)
test

array([ 9352,  9353,  9354,  9355, 32344, 32345, 32346, 32347, 32348,
       32349, 32350, 32351, 32352, 32353, 32354, 32355, 32356, 32357,
       32358, 32359, 42808, 42809, 42810, 42811])

In [284]:
haha = df.iloc[test,:]
hah = dff.iloc[test,:]
df1 = haha.loc['S_INFO_COMPCODE']
df2 = haha.loc['ANN_DT']
df3 = haha.loc['REPORT_PERIOD']
df4 = haha.loc['REINSURANCE_EXP']
df5 = hah.loc['REINSURANCE_EXP']

In [285]:
df1.columns = ['S_INFO_COMPCODE']
df2.columns = ['ANN_DT']
df3.columns = ['REPORT_PERIOD']
df4.columns = ['REINSURANCE_EXP']
df5.columns = ['REINSURANCE_EXP']

In [286]:
df1 = df1.reset_index(drop=True)
df2 = df2.reset_index(drop=True)
df3 = df3.reset_index(drop=True)
df4 = df4.reset_index(drop=True)
df5 = df5.reset_index(drop=True)
df1

      S_INFO_COMPCODE
0          中国石油化工集团公司
1          国电资本控股有限公司
2          国电资本控股有限公司
3          国电资本控股有限公司
4          国电资本控股有限公司
5  山东省博兴县鑫达建设投资开发有限公司

In [289]:
df1= df1.astype(str)
df4 = df4.astype(float)
df5 = df5.astype(float)
whole = pd.concat([df1,df2,df3,df4,df5],axis=1)

In [290]:
whole.to_csv('benduo.txt',sep='\t',encoding = 'utf-8')

In [ ]:
#now it's the time to do all the work together
#cd to the path of the documents then do:ls | cat > a.txt

In [182]:
txtname = np.loadtxt('/Users/james/Downloads/work/a.txt',dtype=str,delimiter='\n')

In [ ]:
#sort the file by size, so it can be arranged two by two
#the example shows how to select the whatever two files, then you can do the above to make a comparison and to txt

In [186]:
def load_json(filename):
    with open(filename, 'r') as f:
        return json.load(f)

if __name__ == "__main__":
    c = load_json('/Users/james/Downloads/work/'+txtname[2])
    d = load_json('/Users/james/Downloads/work/'+txtname[3])

In [ ]:
#to do all together is simple, just use i to choose filename from a.txt and do the whole 
#process in a loop by using i properly

In [ ]:
#for output many comparison txt seperately, do:
#whole[i].to_csv(str(i)+'.txt',encoding = 'utf-8')